@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #282828;
  --secondary: #5a5a5a;
}

body {
  font-family: var(--font-gilroy);
  color: var(--primary);
  font-size: 18px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gropled);
  letter-spacing: 1%;
}
